EXCHANGE_RATE_API_KEY=

NVIDIA_API_KEY=
NVIDIA_BASE_URL=
NVIDIA_MODEL=

GEMINI_API_KEY=
GEMINI_MODEL=

LANGSMITH_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_PROJECT=budgettrip-ai

GOOGLE_PLACES_API_KEY=

KAKAO_REST_API_KEY=
KAKAO_ACCESS_TOKEN=
